In [58]:
# To see unique values in each column
data <- flights
head(sapply(X = data, FUN = function(X) length(unique(na.omit(X)))))
# in caret package
nzv <- nearZeroVar(training, saveMetrics = T)
# if suppose a columns gender has 95% males and 5 females -- then it will output TRUE - TRUE

          year          month            day       dep_time sched_dep_time
             1             12             31           1318           1021
     dep_delay
           527

In [45]:
# To find the class of each column
head(sapply(X = data, FUN = function(X) class(X)))

$year
[1] "integer"

$month
[1] "integer"

$day
[1] "integer"

$dep_time
[1] "integer"

$sched_dep_time
[1] "integer"

$dep_delay
[1] "numeric"

In [49]:
# Bin the datasets
x <- c(1:100)
y <- cut(x,c(1,25,50,75,100),labels = c("low","medium","high","vhig"))
# Beter way
require(Hmisc)
cutWage <- cut2(train$wage, g =4)

In [ ]:
m1 <- apply(data,1,sum) # Sum of rows
m2 <- apply(data,2,sum) # Sum of columns
sapply(df, function(cl) list(means=mean(cl,na.rm=TRUE), sds=sd(cl,na.rm=TRUE)))

In [3]:
require(dplyr)
require(nycflights13)
class(flights)

[1] "tbl_df"     "tbl"        "data.frame"

In [4]:
names(flights)

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

In [30]:
cols <- c("carrier","flight","tailnum")
head(flights %>% select(one_of(cols)),n=2)

  carrier flight tailnum
1 UA      1545   N14228
2 UA      1714   N24211

In [31]:
# Keep the first 3 rows within each group
# new verb slice()
head(flights %>% group_by(month, day) %>% slice(1:3),n=2)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515            2         830      819
2 2013 1     1   533      529            4         850      830
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 11        UA      1545   N14228  EWR    IAH  227      1400     5    15
2 20        UA      1714   N24211  LGA    IAH  227      1416     5    29
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00

In [53]:
# Window functions
# Sample 3 rows from each group
head(flights %>% group_by(month,day) %>% sample_n(3),2)
# Choose the 3 row with top/high departure delaty in each group
head(flights %>% group_by(month,day) %>% top_n(3, dep_delay) ,2)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   2107     2040           27        2354     2359
2 2013 1     1   1610     1615           -5        1827     1830
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -5        B6       677   N779JB  JFK    LAX  323      2475     20   40
2 -3        DL      1619   N360NB  LGA    MSP  168      1020     16   15
  time_hour
1 2013-01-01 20:00:00
2 2013-01-01 16:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1    848     1835           853       1001     1950
2 2013 1     1   1815     1325           290       2120     1542
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 851       MQ      3944   N942MQ  JFK    BWI   41       184     18   35
2 338       EV      4417   N17185  EWR    OMA  213      1134     13   25
  time_hour
1 2013-01-01 18:00:00
2 2013-01-01 13:00:00

In [5]:
head(flights %>% select(origin,dest) %>% distinct)

  origin dest
1 EWR    IAH
2 LGA    IAH
3 JFK    MIA
4 JFK    BQN
5 LGA    ATL
6 EWR    ORD

In [8]:
flights %>% group_by(month) %>% summarise(cnt = n()) %>% arrange(desc(cnt))
# or you can use tally() instead of summarise tally(sort=T)
# flights %>% group_by(month) %>% tally()
# More enhanced version of the above code is count(  , sort = T)
# flights %>% count(month)

   month cnt
1   7    29425
2   8    29327
3  10    28889
4   3    28834
5   5    28796
6   4    28330
7   6    28243
8  12    28135
9   9    27574
10 11    27268
11  1    27004
12  2    24951

In [15]:
# we can do lot more stuff than just count in summarise()
flights %>% group_by(month) %>% summarise(dist = sum(distance))
# flights %>% group_by(month) %>% summarise(dist = max(distance))
# flights %>% group_by(month) %>% summarise(dist = min(distance))
# flights %>% group_by(month) %>% summarise(dist = sd(distance))

   month dist
1   1    27188805
2   2    24975509
3   3    29179636
4   4    29427294
5   5    29974128
6   6    29856388
7   7    31149199
8   8    31149334
9   9    28711426
10 10    30012086
11 11    28639718
12 12    29954084

In [ ]:
# for each carrier calculate the percentage of flights cancelled or diverted 
flights %>% group_by(UniqueCarrier) %>% summarise_each(funs(mean) , Cancelled, Diverted)

In [20]:
# Their 4 mutating joins and 2 filtering joins in dplyr
# left_join() , right_join() , inner_joi() , full_join() and semi_join() , anti_join()
a <- data_frame(color = c("red","green","yellow"), num = 1:3)
b <- data_frame(color = c("red","green","pink"), size = c("S","M","L"))

In [21]:
# Only includes observations found in both "a" and "b" (automatically joins on variables that appear in both tables)
inner_join(a,b)

Joining, by = "color"

  color num size
1 red   1   S
2 green 2   M

In [23]:
# includes all observations found in "a" and "b"  
full_join(a,b)

Joining, by = "color"

  color  num size
1 red     1  S
2 green   2  M
3 yellow  3  NA
4 pink   NA  L

In [24]:
# includes all the observations found in "a"
left_join(a,b)

Joining, by = "color"

  color  num size
1 red    1   S
2 green  2   M
3 yellow 3   NA

In [26]:
# includes all the observations found in "b"
right_join(a,b)

Joining, by = "color"

  color num size
1 red    1  S
2 green  2  M
3 pink  NA  L

In [27]:
# filters "a" to only show observations that match "b"
semi_join(a,b)

Joining, by = "color"

  color num
1 red   1
2 green 2

In [28]:
# filters "a" to only show observations that donot match "b"
anti_join(a,b)

Joining, by = "color"

  color  num
1 yellow 3

In [43]:
# Some times matching variables donot have identical names
#b <- b %>% rename(col = color) # rename a columns
inner_join(a,b,by = c("color" = "col"))

  color num size
1 red   1   S
2 green 2   M

In [38]:
#require(hflights)
#flights %>% group_by(Dest) %>% select(Cancelled) %>% table()