# Clustering: K - Means

The dataset contains both information on marketing newsletters/e-mail campaigns (e-mail offers sent) and transaction level data from customers (which offer customers responded to and what they bought).

The dataset contains both information on marketing newsletters/e-mail campaigns


Offer: Is the offer ID  - the offer id which a company has given

Campain : the month in which the campaign was run

Varietal : Product variety. The company has ran an offer on certain veriety of products.

Minimum Qty: the minimum quantity of the product need to be purchased.

Discount: the amount of discount given to the customer

Origin: The location in which the campaign was run

Past peak: where the sales high or low in the past.

Better communication with customers and
prospects
– Recipient should feel that we understand him or her
as an individual
– “Send the right message to the right person at the
right time”

In [1]:
import pandas as pd

df_offers = pd.read_excel("WineKMC.xlsx", sheetname=0)
df_offers.columns = ["offer_id", "campaign", "varietal", "min_qty", "discount", "origin", "past_peak"]
df_offers.head()

,offer_id,campaign,varietal,min_qty,discount,origin,past_peak
0,1,January,Malbec,72,56,France,False
1,2,January,Pinot Noir,72,17,France,False
2,3,February,Espumante,144,32,Oregon,True
3,4,February,Champagne,72,48,France,True
4,5,February,Cabernet Sauvignon,144,44,New Zealand,True

In [2]:
df_transactions = pd.read_excel("./WineKMC.xlsx", sheetname=1)
df_transactions.columns = ["customer_name", "offer_id"]
df_transactions['n'] = 1
df_transactions.head()

  customer_name  offer_id  n
0         Smith         2  1
1         Smith        24  1
2       Johnson        17  1
3       Johnson        24  1
4       Johnson        26  1

In [3]:
# join the offers and transactions table
df = pd.merge(df_offers, df_transactions)
# create a "pivot table" which will give us the number of times each customer responded to a given offer
matrix = df.pivot_table(index=['customer_name'], columns=['offer_id'], values='n')
# a little tidying up. fill NA values with 0 and make the index into a column
matrix = matrix.fillna(0).reset_index()
# save a list of the 0/1 columns. we'll use these a bit later
x_cols = matrix.columns[1:]

In [4]:
matrix.columns[2:]

Index([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
      dtype='object', name='offer_id')

In [5]:
from sklearn.cluster import KMeans

cluster = KMeans(n_clusters=5,)
# slice matrix so we only include the 0/1 indicator columns in the clustering
matrix['cluster'] = cluster.fit_predict(matrix[matrix.columns[2:]])
matrix.cluster.value_counts()

1    30
4    19
0    19
2    17
3    15
Name: cluster, dtype: int64

In [ ]:
matrix

In [ ]:
cluster.fit_predict(df)

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in df.columns:
    if df[i].dtypes == 'object':
        df[i] = le.fit_transform(df[i])
clusters = cluster.fit_predict(df)

In [13]:
model = cluster.fit(df)
model.cluster_centers_
model.labels_
model.n_clusters
model.

<bound method BaseEstimator.set_params of KMeans(copy_x=True, init='k-means++', max_iter=300, n_clusters=5, n_init=10,
    n_jobs=1, precompute_distances='auto', random_state=None, tol=0.0001,
    verbose=0)>

In [19]:
df['clusters']=clusters

In [17]:
from sklearn.metrics import silhouette_score
ss = silhouette_score(df,clusters)
print('Silhouette Score: {}'.format(ss))
# The Silhouette Coefficient is calculated using the mean intra-cluster distance (a) and the mean nearest-cluster distance (b) for each sample.
# The best value is 1 and the worst value is -1. Values near 0 indicate overlapping clusters. Negative values generally indicate that a sample has been assigned to the wrong cluster, as a different cluster is more similar.
# Selecting the number of clusters or K's with silhouette analysis 


# these metrics need labeled data
#metrics.adjusted_rand_score,
#metrics.v_measure_score,
#metrics.mutual_info_score,

Silhouette Score: 0.4111376954898748

To learn more about Segmentation

- Customer Analysis and Segmentation

http://inseaddataanalytics.github.io/INSEADAnalytics/Report_s45.html

- Customer Segmentation @Bain and Company

Assignment dataset

http://archive.ics.uci.edu/ml/machine-learning-databases/sponge/sponge.info

http://archive.ics.uci.edu/ml/datasets/Water+Treatment+Plant